
body{
    margin:0px;
    padding: 0px; 
    background-image: url('images/vue-dessus-bel-arrangement-roses.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
  
}
  /* Barre de navigation */

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #900a0aac;
    position: sticky;
    top: 0;

 }

  nav .onglets{
    display: flex;
    flex-wrap:wrap;

  }
  nav .onglets p{
  
    margin: 20px;
    cursor:pointer;
    text-align: center;
    cursor:pointer;
}
 a{
    color: #fafafa; 
    text-decoration:none;
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    margin-left: 50px;


}
  nav .recherche input{
    margin: 8px 20px;
    padding: 15px;
    width: 300px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;
    
  }

  header .titre h1{ 
  font-size: 100px;
  font-weight: bold;
  color: #010101;
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;

 
  }
header .intro{
  border-bottom: 10px solid rgb(255, 253, 253); 

}

header .intro p{
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 40px;
font-weight:500;
}

/* contenue */


.corps{
 background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

}
 .first{
  text-align: center;


}

 .first img{
  display: inline-block;
  margin: 25px;
  width: 300px;
  height: 200px;
  border: 5px solid #db5834; 
  border-radius: 30px; 
  max-width: 100%; 
  height: auto;
  
}

.main {
  margin: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
}

.service {
  width: 60%; 
  margin: 20px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.service:hover {
  border-color: #ff0000;
}

.service .title {
  font-size: 30px;
  margin-bottom: 10px;

}

.service .description {
  font-size: 35px;
  text-align: left;
  font-family: 'Dancing Script',cursive;

}
.seconds{
  text-align: center;
}
  .seconds img{
 
  display: inline-block;
  margin: 25px;
  width: 300px;
  height: 200px;
  border: 5px solid #db5834; 
  border-radius: 30px; 
  max-width: 100%; 
  height: auto;
  
  
  
}
footer {
  background-color: #900a0aac;
  height: 60px; 
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #b46b73;

}
@media (max-width:767px) {
  .gallery {
      column-count:2;
  }
  .gallery img {
      object-fit:cover;
      height:180px;
  }
}